<ion-content>
  <section>
    <app-common-header [headerName]="headerName" [breadcrums]="breadcrums"></app-common-header>
  </section>
  <div class="container">
    <section class="contact-data my-4">
      <ion-row>
        <ion-col size="12" size-lg="4">
          <div class="d-flex justify-content-center align-items-center">
            <div>
              <div class="m-auto  text-center icon-box d-flex justify-content-center align-items-center">
                <ion-icon color="light" size="large" name="call"></ion-icon>
              </div>
              <div class="title-4 text-center">
                Phone
              </div>
              <div class="subtitle-3 text-center">
                04244738061
              </div>
            </div>            
          </div>

        </ion-col>
        <ion-col>

        </ion-col>
        <ion-col>

        </ion-col>
      </ion-row>
    </section>
  </div>

</ion-content>