.testimonials {
    ion-card{
        // background-color: var(--ion-color-primary-shade);
    }
}

.testimonial-swiper {

    padding-top: 20px;
    padding-bottom: 50px;

    .swiper-item {
        width: 100%;
        height: 100%;
        // box-shadow: none;
        border-radius: 40px;
        text-align: left;
        padding: 20px;
        // color: var(--ion-color-dark);

        .pharagraph {
            padding-top: 15px;

            font-style: italic;
            font-weight: 100;
        }

        .stars {
            padding-top: 15px;
        }
    }

}