<div class="testimonials py-5">
    <swiper [config]="config" class="testimonial-swiper">
      <ng-template swiperSlide>
        <ion-card class="swiper-item h-100">
          <ion-card-content>
            <div class="title-4">
              Rafael Alvarez
            </div>
            <div class="subtitle-3">
              Cliente
            </div>
            <div class="pharagraph">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, quod voluptas dignissimos, vero hic
                temporibus eligendi necessitatibus corrupti culpa nihil eos.
              </p>
            </div>
            <div class="stars">
              <ion-icon name="star" color="warning"></ion-icon>
              <ion-icon name="star" color="warning"></ion-icon>
              <ion-icon name="star" color="warning"></ion-icon>
              <ion-icon name="star" color="warning"></ion-icon>
              <ion-icon name="star" color="warning"></ion-icon>
            </div>
          </ion-card-content>
        </ion-card>
      </ng-template>
      <ng-template swiperSlide>
        <ion-card class="swiper-item h-100">
          <ion-card-content>
            <div class="title-4">
              Rafael Alvarez
            </div>
            <div class="subtitle-3">
              Cliente
            </div>
            <div class="pharagraph">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, quod voluptas dignissimos, vero hic
                temporibus eligendi necessitatibus corrupti culpa nihil eos.
              </p>
            </div>
            <div class="stars">
              <ion-icon name="star" color="warning"></ion-icon>
              <ion-icon name="star" color="warning"></ion-icon>
              <ion-icon name="star" color="warning"></ion-icon>
              <ion-icon name="star" color="warning"></ion-icon>
              <ion-icon name="star" color="warning"></ion-icon>
            </div>
          </ion-card-content>
        </ion-card>
      </ng-template>      <ng-template swiperSlide>
        <ion-card class="swiper-item h-100">
          <ion-card-content>
            <div class="title-4">
              Rafael Alvarez
            </div>
            <div class="subtitle-3">
              Cliente
            </div>
            <div class="pharagraph">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, quod voluptas dignissimos, vero hic
                temporibus eligendi necessitatibus corrupti culpa nihil eos.
              </p>
            </div>
            <div class="stars">
              <ion-icon name="star" color="warning"></ion-icon>
              <ion-icon name="star" color="warning"></ion-icon>
              <ion-icon name="star" color="warning"></ion-icon>
              <ion-icon name="star" color="warning"></ion-icon>
              <ion-icon name="star" color="warning"></ion-icon>
            </div>
          </ion-card-content>
        </ion-card>
      </ng-template>      <ng-template swiperSlide>
        <ion-card class="swiper-item h-100">
          <ion-card-content>
            <div class="title-4">
              Rafael Alvarez
            </div>
            <div class="subtitle-3">
              Cliente
            </div>
            <div class="pharagraph">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, quod voluptas dignissimos, vero hic
                temporibus eligendi necessitatibus corrupti culpa nihil eos.
              </p>
            </div>
            <div class="stars">
              <ion-icon name="star" color="warning"></ion-icon>
              <ion-icon name="star" color="warning"></ion-icon>
              <ion-icon name="star" color="warning"></ion-icon>
              <ion-icon name="star" color="warning"></ion-icon>
              <ion-icon name="star" color="warning"></ion-icon>
            </div>
          </ion-card-content>
        </ion-card>
      </ng-template>

    </swiper>
</div>