<div class="testimonials">
  <swiper [config]="config" class="testimonial-swiper">
    <ng-template swiperSlide *ngFor="let person of testimonials">
      <ion-card class="swiper-item h-100" >
        <ion-card-content>
          <div class="title-4">
            {{person.name}}
          </div>
          <div class="subtitle-3">
            {{person.rol}}

          </div>
          <div class="pharagraph">
            <p>
              {{person.testimonial}}

            </p>
          </div>
          <div class="stars">
            <ion-icon name="star" color="warning"></ion-icon>
            <ion-icon name="star" color="warning"></ion-icon>
            <ion-icon name="star" color="warning"></ion-icon>
            <ion-icon name="star" color="warning"></ion-icon>
            <ion-icon name="star" color="warning"></ion-icon>
          </div>
        </ion-card-content>
      </ion-card>
    </ng-template>


  </swiper>
</div>