<ion-row class="d-flex justify-content-center services-items py-md-5">
  <ion-col class="service-item" size="6" size-md="4" size-xl="3">
    <ion-card class="m-0 p-0 h-100">
      <ion-card-content class="m-2 m-md-4">
        <div class="item d-flex align-items-center service-1">
        </div>
        <div class="name">
          Car Diagnostic
        </div>
      </ion-card-content>
    </ion-card>
  </ion-col>


  <ion-col class="service-item" size="6" size-md="4" size-xl="3">
    <ion-card class="m-0 p-0 h-100">
      <ion-card-content class="m-2 m-md-4">
        <div class="item d-flex align-items-center service-2">
        </div>
        <div class="name">
          Oil change & Lub
        </div>
      </ion-card-content>
    </ion-card>
  </ion-col>
  <ion-col class="service-item" size="6" size-md="4" size-xl="3">
    <ion-card class="m-0 p-0 h-100">
      <ion-card-content class="m-2 m-md-4">
        <div class="item d-flex align-items-center service-3">
        </div>
        <div class="name">
          Service & repair
        </div>
      </ion-card-content>
    </ion-card>
  </ion-col>
  <ion-col class="service-item" size="6" size-md="4" size-xl="3">
    <ion-card class="m-0 p-0 h-100">
      <ion-card-content class="m-2 m-md-4">
        <div class="item d-flex align-items-center service-4">
        </div>
        <div class="name">
          Timing belt
        </div>
      </ion-card-content>
    </ion-card>
  </ion-col>
  <ion-col class="service-item" size="6" size-md="4" size-xl="3">
    <ion-card class="m-0 p-0 h-100">
      <ion-card-content class="m-2 m-md-4">
        <div class="item d-flex align-items-center service-5">
        </div>
        <div class="name">
          Tire service
        </div>
      </ion-card-content>
    </ion-card>
  </ion-col>
  <ion-col class="service-item" size="6" size-md="4" size-xl="3">
    <ion-card class="m-0 p-0 h-100">
      <ion-card-content class="m-2 m-md-4">
        <div class="item d-flex align-items-center service-6">
        </div>
        <div class="name">
          Muffer & exhaust
        </div>
      </ion-card-content>
    </ion-card>
  </ion-col>
  <ion-col class="service-item" size="6" size-md="4" size-xl="3">
    <ion-card class="m-0 p-0 h-100">
      <ion-card-content class="m-2 m-md-4">
        <div class="item d-flex align-items-center service-7">
        </div>
        <div class="name">
          Transmission Repair
        </div>
      </ion-card-content>
    </ion-card>
  </ion-col>
  <ion-col class="service-item" size="6" size-md="4" size-xl="3">
    <ion-card class="m-0 p-0 h-100">
      <ion-card-content class="m-2 m-md-4">
        <div class="item d-flex align-items-center service-8">
        </div>
        <div class="name">
          Check engine light
        </div>
      </ion-card-content>
    </ion-card>
  </ion-col>
  <ion-col class="service-item" size="6" size-md="4" size-xl="3">
    <ion-card class="m-0 p-0 h-100">
      <ion-card-content class="m-2 m-md-4">
        <div class="item d-flex align-items-center service-9">
        </div>
        <div class="name">
          Full brake service
        </div>
      </ion-card-content>
    </ion-card>
  </ion-col>
  <ion-col class="service-item" size="6" size-md="4" size-xl="3">
    <ion-card class="m-0 p-0 h-100">
      <ion-card-content class="m-2 m-md-4">
        <div class="item d-flex align-items-center service-10">
        </div>
        <div class="name">
          Tune ups
        </div>
      </ion-card-content>
    </ion-card>
  </ion-col>
  <ion-col class="service-item" size="6" size-md="4" size-xl="3">
    <ion-card class="m-0 p-0 h-100">
      <ion-card-content class="m-2 m-md-4">
        <div class="item d-flex align-items-center service-11">
        </div>
        <div class="name">
          Air conditioning
        </div>
      </ion-card-content>
    </ion-card>
  </ion-col>

</ion-row>