
    .service-item {
        ion-card{
            background-color: var(--ion-color-dark-tint);
        }
    }

    .item {
        width: 100%;
        background-size: cover;
        color: var(--ion-color-light);
        border-radius: 100%;
        border: 5px solid var(--ion-color-primary-shade);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 7px 29px 0px;
        margin-bottom: 15px;
    }

    .service-1 {
        aspect-ratio: 1/1;
        width: 100%;
        background-image:

            url('/assets/images/services/car-diagnostic.webp');
    }

    .service-2 {
        aspect-ratio: 1/1;
        width: 100%;
        background-image:

            url('/assets/images/services/change-engine-oil.webp');
    }

    .service-3 {
        aspect-ratio: 1/1;
        width: 100%;
        background-image:

            url('/assets/images/services/auto-Repair.webp');
    }

    .service-4 {
        aspect-ratio: 1/1;
        width: 100%;
        background-image:
            url('/assets/images/services/timing-belt.webp');
    }

    .service-5 {
        aspect-ratio: 1/1;
        width: 100%;
        background-image:
            url('/assets/images/services/tire.webp');
    }

    .service-6 {
        aspect-ratio: 1/1;
        width: 100%;
        background-image:
            url('/assets/images/services/muffer.webp');
    }

    .service-7 {
        aspect-ratio: 1/1;
        width: 100%;
        background-image:
            url('/assets/images/services/transmission.webp');
    }

    .service-8 {
        aspect-ratio: 1/1;
        width: 100%;
        background-image:
            url('/assets/images/services/check-engine-light.webp');
    }

    .service-9 {
        aspect-ratio: 1/1;
        width: 100%;
        background-image:
            url('/assets/images/services/brake.webp');
    }

    .service-10 {
        aspect-ratio: 1/1;
        width: 100%;
        background-image:
            url('/assets/images/services/tune-ups.webp');
    }

    .service-11 {
        aspect-ratio: 1/1;
        width: 100%;
        background-image:
            url('/assets/images/services/ac.webp');
    }

    .name {
        text-align: center;
        color: var(--ion-color-light);
        font-weight: bold;
        line-height: normal;
        padding-top: 10px;
        text-transform: uppercase;
        font-size: 1rem;
    }
