<ion-grid>

  <ion-row>

    <ion-col size="12" size-lg="3" class="item">
      <ion-card class="p-0 m-0 h-100 bg d-flex align-items-center">
        <div class="gradient title-2 p-4 bold">
          LET US BE YOUR PEACE OF MIND
        </div>
      </ion-card>
    </ion-col>
    <ion-col size="12" size-lg="3" class="item">
      <ion-card class="p-0 m-0 h-100">
        <ion-card-content class="p-4">
          <div class="m-auto image-box">
            <img width="90px" src="/assets/images/logos/technet/nationwide_warranty.png" alt="">
          </div>
          <div>
            <p class="text-center pt-3 pharagraph">
              You’re covered
              by a nationwide limited repair warranty for 24 months or
              24,000 miles, whichever comes first.
            </p>
          </div>
        </ion-card-content>
        <ion-button
          (click)="download('https://firebasestorage.googleapis.com/v0/b/cardoctorsllc-1.appspot.com/o/public_resources%2FPRO_21195869_2022%20TechNet%20New%20Member%20Marketing%20Kit%20Assets%20RO%20Holder%202424%20Digital%20FINAL%20US%20ENG_v2.pdf?alt=media&token=5bac7b1c-f56e-415c-b4f6-4fd9cc7afb93')"
          fill="solid" expand="full" class="m-0 item-button d-flex align-items-center">
          Learn More
          <ion-icon name="cloud-download" class="ms-2"></ion-icon>
        </ion-button>
      </ion-card>
    </ion-col>
    <ion-col size="12" size-lg="3" class="item">
      <ion-card class="p-0 m-0 h-100">
        <ion-card-content class="p-4">
          <div class="m-auto image-box">
            <img width="90px" src="/assets/images/logos/technet/roadside_assistance.png" alt="">
          </div>
          <div>
            <p class="text-center pt-3  pharagraph">
              Flat tire, lost keys, empty gas tank, dead battery, or need a tow?
              We’ve made it easy for you to receive help anytime, day or night,
              with Roadside Assistance coverage.
            </p>
          </div>
        </ion-card-content>
        <ion-button
          (click)="download('https://firebasestorage.googleapis.com/v0/b/cardoctorsllc-1.appspot.com/o/public_resources%2FPRO_21195869_2022%20TechNet%20New%20Member%20Marketing%20Kit%20Assets%20RO%20Holder%202424%20Digital%20FINAL%20US%20ENG_v2.pdf?alt=media&token=5bac7b1c-f56e-415c-b4f6-4fd9cc7afb93')"
          fill="solid" expand="full" class="m-0 item-button d-flex align-items-center">
          Learn More
          <ion-icon name="cloud-download" class="ms-2"></ion-icon>
        </ion-button>
      </ion-card>
    </ion-col>
    <ion-col size="12" size-lg="3" class="item">
      <ion-card class="p-0 m-0 h-100">
        <ion-card-content class="p-4">
          <div class="m-auto image-box">
            <img width="90px" src="/assets/images/logos/technet/roadHazard.png" alt="">
          </div>
          <div>
            <p class="text-center pt-3 pharagraph">
              Road Hazard Tire Protection provides three years of prorated
              coverage on your new tire purchase when offered by your
              authorized TechNet Professional Automotive Service Center.
            </p>
          </div>
        </ion-card-content>
        <ion-button
          (click)="download('https://firebasestorage.googleapis.com/v0/b/cardoctorsllc-1.appspot.com/o/public_resources%2FPRO_21195869_2022%20TechNet%20New%20Member%20Marketing%20Kit%20Assets%20RO%20Holder%202424%20Digital%20FINAL%20US%20ENG_v2.pdf?alt=media&token=5bac7b1c-f56e-415c-b4f6-4fd9cc7afb93')"
          fill="solid" expand="full" class="m-0 item-button d-flex align-items-center">
          Learn More
          <ion-icon name="cloud-download" class="ms-2"></ion-icon>
        </ion-button>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>