<ion-toolbar color="" class="nav" [ngClass]="{'nav-scrolled' : scrollTop > 0 }">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6" size-sm="4" size-md="3" size-lg="2">

        <img (click)="goTo('')" width="150px" src="/assets/images/logos/logo_1_svg.svg" alt="car doctors isologo"
          routerLink="/">

      </ion-col>
      <ion-col class="d-none d-lg-flex justify-content-end align-items-center">

        <div class="menu-items">
          <a (click)="goTo('')"class="actived">Home</a>
          <a (click)="goTo('about-us')" routerLinkActive="active" class="actived">About Us</a>
          <a (click)="goTo('/services')" class="actived">Services</a>
        </div>
        <ion-button color="primary" (click)="goTo('contact-us')" class="no-box-shadow ps-4" expand="block" fill="solid"
          shape="round">
          Contact Us
        </ion-button>



        <!-- <ion-select class="mx-3 languageSelectButton" (ionChange)="changeLanguage($event)" [interfaceOptions]="{ cssClass: 'languageSelect' }" [value]="translate.currentLang" interface="popover" placeholder="{{'languages.placeholder_1' | translate}}">
          <ion-select-option value="en" class="language-select">{{'languages.english' | translate }}</ion-select-option>
          <ion-select-option value="es" class="language-select">{{'languages.spanish' | translate }}</ion-select-option>
        </ion-select> -->

      </ion-col>


    </ion-row>
  </ion-grid>
  <ion-buttons slot="end" size="large" class="d-lg-none pe-2">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
</ion-toolbar>