<ion-content>
  <div class="main-content h-100 p-5">
    <ion-row class="h-100">
      <ion-col size="4" class="box-1 h-100 ">
        <div class="content-logo">
          <ion-img class="logo" src="/assets/images/logos/logo_1_svg.svg"></ion-img>

        </div>
        <div class="d-flex align-items-center content-info h-100">
          <div>
            <div class="title-box">
              <div class="title-1">
                UNDER
              </div>
              <div class="swera-b title-2">
                construction
              </div>
            </div>
            <div class="description">
              <p>
                We’re <strong> Car Doctor’s!</strong> And we’re working hard to 
                make an incredible web site to offer you
                the best and most
                <strong>complete services</strong>  for your <strong>car</strong>.

              </p>
              <p >
                Service / Repair / Maintenance
              </p>
            </div>
          </div>
        </div>
      </ion-col>
      <ion-col size="6">

      </ion-col>
    </ion-row>

  </div>
</ion-content>