ion-item.selected {
  background-color : var(--ion-color-dark);

  --color: var(--ion-color-primary)!important;
}

.content {
  --background: var(--ion-color-dark-tint);
}

.list {
  background-color: transparent;

  
}
ion-item {
  --color: var(--ion-color-light);
  --background:none;
  background-color : var(--ion-color-dark-tint)
}