<ion-content>
  <header>
    <swiper class="h-100 mainSwiper">
      <ng-template swiperSlide>
        <div class="slide">
          <div class="bg-1">
          </div>
          <div class="text d-flex align-items-center">
            <div class="container">
              <div class="t-white">Big Sale Offer</div>
              <div class="t-white">Parts and Repair</div>
              <div class="t-white">Texto exclusivo or esta semana solamente</div>
              <div>
                <ion-button routerLink="contact-us" size="large" class="pt-2 text-white">
                  Contáctanos
                </ion-button>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="slide">
          <div class="bg-1">
          </div>
          <div class="text d-flex align-items-center">
            <div class="container">
              <div class="t-white">Big Sale Offer</div>
              <div class="t-white">Parts and Repair</div>
              <div class="t-white">Texto exclusivo or esta semana solamente</div>
              <div>
                <ion-button routerLink="contact-us" size="large" class="pt-2 text-white">
                  Contáctanos
                </ion-button>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </swiper>
  </header>
  <section class="services py-5">

    <div class="container">
      <div class="title-2 pb-2">
        Servicios
      </div>
      <ion-row>
        <ion-col size="4" size-xl="3">
          <div class="bg-item">
          </div>
          <div class="item d-flex align-items-center ">
            <div class=" p-5">
              <div class="subtitle-2 text-white">
                From 59$
              </div>
              <div class="name title-3">
                Car Diagnostic
              </div>
              <div class="pt-2">
                <ion-button fill="solid" size="small">
                  Cotizar
                </ion-button>
              </div>
            </div>
          </div>

        </ion-col>
        <ion-col size="4" size-xl="3">
          <div class="bg-item">
          </div>
          <div class="item d-flex align-items-center ">
            <div class=" p-5">
              <div class="subtitle-2 text-white">
                From 59$
              </div>
              <div class="name title-3">
                Car Diagnostic
              </div>
              <div class="pt-2">
                <ion-button fill="solid" size="small">
                  Cotizar
                </ion-button>
              </div>
            </div>
          </div>

        </ion-col>
        <ion-col size="4" size-xl="3">
          <div class="bg-item">
          </div>
          <div class="item d-flex align-items-center ">
            <div class=" p-5">
              <div class="subtitle-2 text-white">
                From 59$
              </div>
              <div class="name title-3">
                Car Diagnostic
              </div>
              <div class="pt-2">
                <ion-button fill="solid" size="small">
                  Cotizar
                </ion-button>
              </div>
            </div>
          </div>

        </ion-col>
        <ion-col size="4" size-xl="3">
          <div class="bg-item">
          </div>
          <div class="item d-flex align-items-center ">
            <div class=" p-5">
              <div class="subtitle-2 text-white">
                From 59$
              </div>
              <div class="name title-3">
                Car Diagnostic
              </div>
              <div class="pt-2">
                <ion-button fill="solid" size="small">
                  Cotizar
                </ion-button>
              </div>
            </div>
          </div>

        </ion-col>
        <ion-col size="4" size-xl="3">
          <div class="bg-item">
          </div>
          <div class="item d-flex align-items-center ">
            <div class=" p-5">
              <div class="subtitle-2 text-white">
                From 59$
              </div>
              <div class="name title-3">
                Car Diagnostic
              </div>
              <div class="pt-2">
                <ion-button fill="solid" size="small">
                  Cotizar
                </ion-button>
              </div>
            </div>
          </div>

        </ion-col>
        <ion-col size="4" size-xl="3">
          <div class="bg-item">
          </div>
          <div class="item d-flex align-items-center ">
            <div class=" p-5">
              <div class="subtitle-2 text-white">
                From 59$
              </div>
              <div class="name title-3">
                Car Diagnostic
              </div>
              <div class="pt-2">
                <ion-button fill="solid" size="small">
                  Cotizar
                </ion-button>
              </div>
            </div>
          </div>

        </ion-col>
        <ion-col size="4" size-xl="3">
          <div class="bg-item">
          </div>
          <div class="item d-flex align-items-center ">
            <div class=" p-5">
              <div class="subtitle-2 text-white">
                From 59$
              </div>
              <div class="name title-3">
                Car Diagnostic
              </div>
              <div class="pt-2">
                <ion-button fill="solid" size="small">
                  Cotizar
                </ion-button>
              </div>
            </div>
          </div>

        </ion-col>
      </ion-row>
    </div>
  </section>
  <section class="testimonials">
    <div class="container">
      <!-- <div class="title-2 pb-2">
        Servicios
      </div> -->
      <app-testimonials></app-testimonials>
    </div>
    
  </section>
  <footer>
    <app-footer></app-footer>
  </footer>
</ion-content>