<ion-content>
  <header>
    <swiper class="h-100 mainSwiper">
      <ng-template swiperSlide>
        <div class="slide">
          <div class="bg-1">
          </div>
          <div class="text d-flex align-items-center">
            <div class="container">
              <div class="t-white">Big Sale Offer</div>
              <div class="t-white">Parts and Repair</div>
              <div class="t-white">Texto exclusivo or esta semana solamente</div>
              <div>
                <ion-button routerLink="contact-us" size="large" class="pt-2 text-white">
                  Contáctanos
                </ion-button>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="slide">
          <div class="bg-1">
          </div>
          <div class="text d-flex align-items-center">
            <div class="container">
              <div class="t-white">Big Sale Offer</div>
              <div class="t-white">Parts and Repair</div>
              <div class="t-white">Texto exclusivo or esta semana solamente</div>
              <div>
                <ion-button routerLink="contact-us" size="large" class="pt-2 text-white">
                  Contáctanos
                </ion-button>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </swiper>
  </header>
  <section id="technetBanner" class="pt-5">
    <div class="container">
      <app-technet-banner></app-technet-banner>
    </div>
  </section>
  <section class="services py-5" id="services">

    <div class="container">
      <div class="title-2 pb-2">
        Services
      </div>
      <ion-row class="d-flex justify-content-center">


        <ion-col class="service-item" size="4" size-xl="2">
          <div class="item d-flex align-items-center service-1">
          </div>
          <div class="name">
            Car Diagnostic
          </div>
        </ion-col>
        <ion-col class="service-item" size="4" size-xl="2">
          <div class="item d-flex align-items-center service-2">
          </div>
          <div class="name">
            Oil change & Lub
          </div>
        </ion-col>
        <ion-col class="service-item" size="4" size-xl="2">
          <div class="item d-flex align-items-center service-3">
          </div>
          <div class="name">
            Service & repair
          </div>
        </ion-col>
        <ion-col class="service-item" size="4" size-xl="2">
          <div class="item d-flex align-items-center service-4">
          </div>
          <div class="name">
            Timing belt
          </div>
        </ion-col> 
        <ion-col class="service-item" size="4" size-xl="2">
          <div class="item d-flex align-items-center service-5">
          </div>
          <div class="name">
            Tire service
          </div>
        </ion-col> 
        <ion-col class="service-item" size="4" size-xl="2">
          <div class="item d-flex align-items-center service-6">
          </div>
          <div class="name">
            Muffer & exhaust
          </div>
        </ion-col> 
        <ion-col class="service-item" size="4" size-xl="2">
          <div class="item d-flex align-items-center service-7">
          </div>
          <div class="name">
            Transmission Repair
          </div>
        </ion-col>
        <ion-col class="service-item" size="4" size-xl="2">
          <div class="item d-flex align-items-center service-8">
          </div>
          <div class="name">
            Check engine light
          </div>
        </ion-col>
        <ion-col class="service-item" size="4" size-xl="2">
          <div class="item d-flex align-items-center service-9">
          </div>
          <div class="name">
            Full brake service
          </div>
        </ion-col>
        <ion-col class="service-item" size="4" size-xl="2">
          <div class="item d-flex align-items-center service-10">
          </div>
          <div class="name">
            Tune ups
          </div>
        </ion-col>
        <ion-col class="service-item" size="4" size-xl="2">
          <div class="item d-flex align-items-center service-11">
          </div>
          <div class="name">
            Air conditioning
          </div>
        </ion-col>
     
      </ion-row>
    </div>
  </section>
  <section class="testimonials">
    <div class="container">
      <!-- <div class="title-2 pb-2">
        Servicios
      </div> -->
      <app-testimonials></app-testimonials>
    </div>
    
  </section>
  <footer>
    <app-footer></app-footer>
  </footer>
</ion-content>