<ion-content>
  <header>
    <swiper class="h-100 mainSwiper">
      <ng-template swiperSlide >
        <div class="slide">
          <div class="bg-1">
            
          </div>
          <div class="text d-flex align-items-center">
            <div class="container">
              <div class="t-white">Big Sale Offer</div>
              <div class="t-white">Parts and Repair</div>
              <div class="t-white">Texto exclusivo or esta semana solamente</div>
              <div>
                <ion-button size="large" class="pt-2 text-white" >
                  Contáctanos
                </ion-button>
              </div>
            </div>
          
  
          </div>
        </div>
        
      
      </ng-template>
      <ng-template swiperSlide >
        <div class="slide mainSlideItem-2 w-100">
          
        </div>
      </ng-template>
    </swiper>
  </header>


</ion-content>