<ion-grid class="">
  <ion-card class=" m-0 h-100">
    <ion-row class="">
      <ion-col size="12" size-lg="5" class="img">

      </ion-col>
      <ion-col class="p-4">
        <div class="title-3 pb-2">
          Welcome to <ion-text color="primary" class="title-3">Car Doctors</ion-text>
        </div>
        <div *ngIf="!aboutUS">
          <p class="pharagraph">
            You have come to the right place. At Car doctor's, we offer you the best service for your vehicle. Trust and
            quality characterize us.
          </p>
          <p class="pharagraph">

            Our clients <strong>travel calmly</strong> throughout North America because they have our <strong>guarantee
              nationwide</strong>. Yeah! <strong>Just for
              being </strong>a Car Doctor's customer!
          </p>
        </div>
        <div *ngIf="aboutUS">
          <p class="pharagraph">
            We are a <strong>premier auto repair service</strong> center. At Car Doctor's we offer our best service,
            from tire repair to
            transmission services, our goal is to offer car repairs at an <strong> affordable price.</strong> We are conveniently located
            off of E Irlo Bronson Memorial Hwy in St. Cloud. (192).
            <br><br>
            Get a free and clear estimate with <strong>no hidden costs.</strong>
            <br><br>
            We will provide you with an easy-to-understand quote before any service begins. Remember that doing services
            and maintenance on time to your vehicle could <strong>save you a lot of money</strong>, so see with us the options to keep
            your car in optimal conditions. We back all our work with a guarantee you can trust Nationwide.
            <br><br>
            Our mechanics are <strong>certified auto repair specialists</strong> and provide the best auto repair
            services for domestic and import makes and models.
          </p>
        </div>

      </ion-col>

    </ion-row>
  </ion-card>

</ion-grid>