<ion-grid class="h-100">
  <ion-row class="h-100">
    <ion-col size="12" size-lg="5">
      <ion-card class="img m-0">
  
      </ion-card>
    </ion-col>
    <ion-col class="p-4">
      <div class="title-3 pb-2">
        Welcome to <ion-text color="primary" class="title-3">Car Doctors</ion-text>
      </div>
      <div class="">
        <p class="pharagraph">
          You have come to the right place. At Car doctor's, we offer you the best service for your vehicle. Trust and
          quality characterize us.
        </p>
        <p class="pharagraph">
  
          Our clients <strong>travel calmly</strong> throughout North America because they have our <strong>guarantee
            nationwide</strong>. Yeah! <strong>Just for
            being </strong>a Car Doctor's customer!
        </p>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
