<div class="footer py-5">
  <div class="container ">
    <ion-row>
      <ion-col size="12" size-lg="3">

        <img width="100%" class="img-fluid px-5 pb-3" src="/assets/images/logos/logo_1_svg.svg" alt="car doctors isologo"
          routerLink="/">
        <div class="">
          <p class="">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem quibusdam perferendis aliquam ea
          </p>
        </div>
      </ion-col>
      <ion-col size="12" size-lg="6">

      </ion-col>
      <ion-col size="12" size-lg="3">
        <div class="title-4 pb-3">
          Store information
        </div>
        <p>
          1021 Exchange Place #106, St Cloud, FL 34769 <br>
          cardoctorsllc@gmail.com <br>
          (305) 766 15 17
        </p>
      </ion-col>
    </ion-row>
  </div>
</div>