<div class="footer py-5">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-md="4" size-lg="3">
        <img width="70%" class="img-fluid pe-5 pb-3" src="/assets/images/logos/logo_1_svg_White.svg"
          alt="car doctors isologo" routerLink="/">
        <div class="">
          <p class="">
            At Car doctor's, we offer you the best service for your vehicle. Trust and
            quality characterize us.
          </p>
        </div>
      </ion-col>
      <ion-col size="12" size-md="4" class="">
        <ion-row>
          <ion-col size="12">
            <div class="title-4 pb-3">
              Quick Links
            </div>
            <ion-list class="py-0 footer-list">
              <ion-item (click)="goTo('contact-us')" button lines="none" color="transparent" class="item ">
                <ion-icon color="primary" name="chevron-forward" class="bold pe-2"></ion-icon>
                Contact Us
              </ion-item>
              <ion-item (click)="goTo('about-us')" button lines="none" color="transparent" class="item ">
                <ion-icon color="primary" name="chevron-forward" class="bold pe-2"></ion-icon>
                About Us
              </ion-item>      
              <ion-item (click)="goTo('services')" button lines="none" color="transparent" class="item ">
                <ion-icon color="primary" name="chevron-forward" class="bold pe-2"></ion-icon>
                Services
              </ion-item>          
            </ion-list>

          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="12" size-md="4" size-lg="3">
        <div class="title-4 pb-3">
          Store information
        </div>
        <p>
          1021 Exchange Place #106, St Cloud, FL 34769 <br>
          cardoctorsllc@gmail.com <br>
          (305) 766 15 17
        </p>
        <ion-buttons>
          <ion-button (click)="goToSocial('https://www.instagram.com/car.doctors.llc/')" color="primary" class="me-2">
            <ion-icon color="light" slot="icon-only" name="logo-instagram"></ion-icon>
          </ion-button>
          <ion-button (click)="goToSocial('https://www.instagram.com/car.doctors.llc/')" color="primary" class="me-2">
            <ion-icon color="light" slot="icon-only" name="logo-facebook"></ion-icon>
          </ion-button>
          <ion-button (click)="goToSocial('https://www.instagram.com/car.doctors.llc/')" color="primary">
            <ion-icon color="light" slot="icon-only" name="logo-twitter"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>