.footer {
    color: var(--ion-color-light);
    background-color: var(--ion-color-dark);

}

.footer-list {
    background-color: transparent;

    .item {
        color: var(--ion-color-light);
        --padding-start: 0px;
    }
}