.content{
   height: 40vh;
   color: white;
   text-transform: capitalize;
   background-image:
   linear-gradient(to left,
       rgba(245, 246, 252, 0),
       rgba(0, 0, 0, 0.75)),
   url('/assets/images/home_main_banner/1.webp');
   background-position: center;
   background-size: cover;
}
