
.bg{
    background-image: url("/assets/images/home_main_banner/1.webp");
    background-position: center;
    background-size: cover;
    height: 40vh;
    width: 100%;
    color: white;
    position: absolute;
    // filter: brightness(56%);
    // -webkit-filter: brightness(56%);
    // -moz-filter: brightness(56%);
}
.bg-2 {
    height: 40vh;
    width: 100%;
    position: absolute;
    background: rgb(5,17,37);
    background: linear-gradient(90deg, rgba(5,17,37,1) 0%, rgba(0,0,0,0) 81%);
}
.content{
   position: relative; 
   height: 40vh;
   color: white;
   text-transform: capitalize;
   
}
