<div class="section-title">

  <ion-row class="m-0">
    <ion-col size="12" class="pb-3 section-title">
      Why Choose Us
      <div class="underline-section-title"></div>
    </ion-col>
    <ion-col size="12" size-lg="4" class="">
      <ion-card class="m-0 d-flex">
        <div class="icon">
          <ion-icon color="light" size="large" name="color-wand"></ion-icon>
        </div>
        <div class="content">
          <div class="title-item">
            Innovation
          </div>
          <p>
            State-of-the-art machinery to diagnose any fault.
          </p>
        </div>
      </ion-card>
    </ion-col>

    <ion-col size="12" size-lg="4" class="">
      <ion-card class="m-0 d-flex">
        <div class="icon">
          <ion-icon color="light" size="large" name="diamond"></ion-icon>
        </div>
        <div class="content">
          <div class="title-item">
            Years of Experience
          </div>
          <p>
            More than 20 years of experience in the industry.
          </p>
        </div>
      </ion-card>
    </ion-col>

    <ion-col size="12" size-lg="4" class="">
      <ion-card class="m-0 d-flex">
        <div class="icon">
          <ion-icon color="light" size="large" name="people-circle"></ion-icon>
        </div>
        <div class="content">
          <div class="title-item">
            Attention
          </div>
          <p>
           The attention we give the client is simply the best that can be found.
          </p>
        </div>
      </ion-card>
    </ion-col>

    <ion-col size="12" size-lg="4" class="">
      <ion-card class="m-0 d-flex">
        <div class="icon">
          <ion-icon color="light" size="large" name="home"></ion-icon>
        </div>
        <div class="content">
          <div class="title-item">
            Suitable Facilities
          </div>
          <p>
            We have a large mechanical workshop with a comfortable and clean work area.
          </p>
        </div>
      </ion-card>
    </ion-col>

  </ion-row>
</div>